server/src/main/resources/reports/.*/.*
server/itensMovimentacao.jasper
server/logging.txt
server/src/main/resources/reports/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

server/src/main/resources/reports/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmiserver/src/main/resources/reports/.metadata
server/src/main/resources/reports/.metadata/*
server/src/main/resources/reports/.metadata/.*
server/logging.txt

server/logging.*

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

