<div class="container col-12" >
    <form #guiaForm="ngForm" (ngSubmit)="updateGuia(guiaForm)">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="numeroGuia">Número da Guia</label>
          <input type="text" class="form-control" [(ngModel)]="guia.numeroGuia" required id="numeroGuia" name="numeroGuia" #numero>
          <div>
            {{ numero.className }}
          </div>
        </div>
      </div>
      <div class="form-row">

        <div class="form-group col-md-6">
          <label for="nomeCondutor">Condutor</label>
          <input type="text" class="form-control" name="nomeCondutor" id="nomeCondutor" [(ngModel)]="guia.nomeCondutor" placeholder="Condutor/Portador">
        </div>
        <div class="form-group col-md-6">
          <label for="rgCondutor">RG do Condutor</label>
          <input type="text" class="form-control" name="rgCondutor" [(ngModel)]="guia.rgCondutor" id="rgCondutor" placeholder="Rgndo Condutor">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
            <label for="transportadora">Nome da Transportadora</label>
            <select id="transportadora" name="transportadora" class="form-control" [(ngModel)]="guia.transportadoraId" >
              <option value="null" selected>Escolha...</option>
              <option *ngFor="let transportadora of transportadoras$ | async" [value]="transportadora.id">{{transportadora.nome}}</option>
            </select>
          </div>
          <div class="form-group col-md-6 ">
            <label for="placaVeiculo">Placa do veículo</label>
            <input type="text" class="form-control" [(ngModel)]="guia.placaVeiculo" name="placaVeiculo" id="placaVeiculo">
          </div>
      </div>
      <div class="form-group row">
        <label for="observacao" class="col-md-2 col-form-label">Observacao</label>
        <div class="col-md-10">
          <textarea class="form-control" id="observacao" name="observacao" rows="2" [(ngModel)]="guia.observacao"></textarea>
        </div>
      </div> 
      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
    </div>