<div class="container col-12">
  <div *ngIf="transportadoras$ | async as transportadoras_async; else loading ">
    <div class="card col-12 ">
      <div class="card-header">
        <div class="float-left">
          <h4>Lista de Transportadoras</h4>
        </div>
        <div class="float-right">
          <button type="button" class="btn btn-primary" [routerLink]="'/transportadoraNew'">Nova Transportadora</button>
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome da Transportadora</th>
                <th scope="col">C.G.C</th>
                <th scope="col">Telefone</th>
                <th scope="col">Endereço</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transportadora of transportadoras_async 
                                        | paginate: 
                                        {  
                                            id: 'listing_pagination',
                                            itemsPerPage: itemsPerPage,
                                            currentPage: currentPage,
                                            totalItems: transportadoras_async.lenght 
                                        } ">
                <th scope="row">{{transportadora.id}}</th>
                <!-- <td> <a [routerLink]="['/guiaDetail', guia.id]"> {{guia.numeroGuia}}</a></td> -->
                <td>{{transportadora.nome}}</td>
                <td>{{transportadora.cgc }}</td>
                <td>{{transportadora.telefone }}</td>
                <td>{{transportadora.endereco }}</td>
                <td>
                  <span class="float-right">  
                     <button class="btn btn-outline-warning mr-2 btn-sm" [routerLink]="['/transportadoraEdit', transportadora.id]">
                       <i class="fa fa-edit" aria-hidden="true"></i>
                     </button>
                     <app-transportadora-delete (atualizaLista)="transportadoras$ = $event" [transportadora]="transportadora" ></app-transportadora-delete>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-12">
            <pagination-controls id="listing_pagination" previousLabel="Anterior" nextLabel="Próximo" maxSize="5" directionLinks="true"
              (pageChange)="currentPage = $event"></pagination-controls>
          </div>



        </div>
      </div>
    </div>

  </div>

  <ng-template #loading>
    <span>Carregando ... </span>
    <div class="spinner-border spinner-border-lg"></div>
    <div class="spinner-grow spinner-grow-lg"></div>
  </ng-template>
</div>