<!-- <button class="btn btn-primary" (click)="lgModal.show()">Edição de Guia</button> -->
<button (click)="lgModal.show()"  class="btn btn-outline-warning mr-2 btn-sm" >
    <i class="fa fa-edit" aria-hidden="true"></i>
</button>
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
    role="dialog" aria-labelledby="dialog-sizes-name1">
 <div class="modal-dialog modal-lg">
   <div class="modal-content">
     <div class="modal-header">
       <h4 id="dialog-sizes-name1" class="modal-title pull-left">Edição de Guia</h4>
       <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
      <app-guia-edit [guia]="guia" [modal]="lgModal" ></app-guia-edit>
      <!-- <app-guia-edit></app-guia-edit> -->
     </div>

 </div>
</div>
