<!-- <button class="btn btn-primary" (click)="lgModal.show()">Edição de Guia</button> -->

<button (click)="lgModal.show()" type="button" class="btn btn-outline-danger mr-2 btn-sm">
    <i class="fa fa-trash-o" aria-hidden="true"></i>
</button>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Confirma exclusão? </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="lgModal.hide()">
                   <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <button type="button" (click)="lgModal.hide()" class="btn btn-default">Não</button>
                <button type="button" class="btn btn-primary" (click)="lgModal.hide() ;delete(transportadora )"> Sim</button>
            </div>
        </div>
    </div>