<div class="row mt-5">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
           <h5>Movimentação da <a [routerLink]="['/guiaDetail', movimentacao.guia.id, false ]" >  guia número {{movimentacao.guia.numeroGuia}} </a> </h5>
        </div>
        <div class="card-body">
                <div class="row">
                        
                    <dt class="col-6">Unidade de origem</dt>
                    <dd class="col-6">{{movimentacao.unidadeOrigem}}</dd>
    
                    <dt class="col-6">Unidade de destino</dt>
                    <dd class="col-6">{{movimentacao.unidadeDestino}}</dd>
    
                    <dt class="col-6">Data da criação</dt>
                    <dd class="col-6">{{movimentacao.datacriacao | date: 'dd/MM/yyyy' }}</dd>
                    <dt class="col-6">Data do recebimento</dt>
                    <dd class="col-6">{{movimentacao.datarecebimento}}</dd>
                    <dt class="col-6">Status da movimentação</dt>
                    <dd class="col-6">{{movimentacao.status}}</dd>
                    <dt class="col-6">Observação</dt>
                    <dd class="col-6">{{movimentacao.observacao}}</dd>
                </div>               
   <hr/>  

   <div class="card text-center">

    <div class="card-body">
      <h5 class="card-title">Itens movimentados</h5>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Material</th>
            <th scope="col">Unidades</th>
            <th scope="col">Situação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of movimentacao.itens" >
            <td>{{item.material.nome}}</td>
            <td>{{item.quantidadeItem}}</td>
            <td>{{item.situacao}}</td>
          </tr>

        </tbody>
      </table>


    </div>
  </div>

        </div>

        <div class="card-footer text-muted">
          <div class="row" >
            <button class="btn btn-primary" (click)="voltar()" >Voltar</button>      
      </div>
    </div>
      </div>
    </div>
</div>
