<div class="container col-12" >
  <h4>Pendència</h4>
  <form #pendenciaForm="ngForm" (ngSubmit)="save(pendenciaForm)">
    <div class="form-group row" >
      <label for="pendenciaTipo" class="col-md-3 col-form-label">Tipo de Pendencia</label>
      <div  class="col-md-9 "  >
      <select class="form-control" name="pendenciaTipo" id="pendenciaTipo" [(ngModel)]="pendencia.pendenciaTipo" >
         <option  [ngValue]="" >...</option>
         <option *ngFor="let tipoPendencia of tiposPendencias$ | async | keyvalue" [ngValue]="tipoPendencia.key" > {{ tipoPendencia.value}}</option>
       </select>
      </div>
    </div>
    <div class="form-group row" >
      <label for="quantidade" class="col-md-3 col-form-label" >Quantidade de itens</label>
      <div class="col-md-9">
        <input type="number" class="form-control" [(ngModel)]="pendencia.quantidade" id="quantidade" name="quantidade" >
      </div>
    </div>

    <div class="form-group row" >
    <label for="descricao" class="col-md-3 col-form-label" >Descrição</label>
    <div class="col-md-9">
      <input type="text" class="form-control" [(ngModel)]="pendencia.descricao" id="descricao" name="descricao" >
    </div>
  </div>
    <button type="submit" [disabled]="!pendenciaForm.valid" class="btn btn-primary">Salvar</button>
  </form>
</div>
